body {
    font-family: sans-serif;
    padding: 40px;
    background: #f5f5f5;
}

.title {
    text-align: center;
    margin-bottom: 80px;
}

.box {
    width: 80%;
    margin: 80px auto;
    padding: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(55px);
    transition: all 0.8s ease;
}

.box.show {
    opacity: 1;
    transform: translateY(0);
}