* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: #3c434f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: #ebebeb;
    font-size: 4rem;
}



.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin-left: 20%;
}

.calculator form input {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .calc-display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .calc-display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

.a {
    display: flex;
    justify-content: space-around;
    gap: 3px;
}

.a input:nth-child(3) {
    flex-grow: 2;
}

form input.operator {
    color: #33ffd8;
}

@media screen and (max-width: 1080px) {
    .container h1 {
        display: none;
    }

    .calculator {
        margin-left: 0px;
    }
}