* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    margin-block: 50px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.7rem;
  letter-spacing: 0.7rem;
}

.wrapper {
  width: 1080px;
  max-width: 90%;
  margin: 0 auto;
}



.top-slider {
    display: flex;
    overflow: hidden;
}

.slider-items {
    display: flex;
    animation: scroll-left 50s infinite linear .5s both;
}

.item img {
    width: 320px;
    padding-left: 30px;
    display: block;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/*  CONCEPT
---------------------------------------------------------*/
.concept {
  background-image: url(img/bg-top-concep.png);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-size: cover;
}

.concept-cont {
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.concept-text {
  text-align: center;
  color: white;
}

.concept-bold-text {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.concept-text p {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 200%;
}

.concept-img {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.concept-img img {
  width: 225px;
}