* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    margin-block: 50px;
}

.top-slider {
    display: flex;
    overflow: hidden;
}

.slider-items {
    display: flex;
    animation: scroll-left 50s infinite linear .5s both;
}

.item img {
    width: 320px;
    padding-left: 30px;
    display: block;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}