* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #323232;
    --primary-color: #232323;
    --secondary-color: #4A4D57;
    --accent-color: #ff8000;
    --text-color: #F9F9F9;
}

html {
    font-family: 'Segoe UI';
    font-size: 16pt;
    color: var(--text-color)
}

body {
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    margin: 100px 0 20px 0;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
    background: none;
}

#todo-input:focus {
    outline: none;
}

form {
    position: relative;
}

#add-button {
    position: absolute;
    top: 0;
    right: 0;

    box-sizing: border-box;
    height: 100%;
    padding: 0 30px;
    font-size: 20px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
    background-color: var(--accent-color);
    border: none;
    border-radius: 1000px;
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-test {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: all .1s ease-in-out;
}

.todo input {
    display: none;
}

.delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button svg {
    transition: all .3s ease-in-out;
}

.delete-button:hover svg {
    fill: #ff0033;

}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all .1s ease-in-out;
}

.custom-checkbox svg {
    transition: all .1s ease-in-out;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
    fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-test {
    text-decoration: line-through;
    color: var(--secondary-color);
}


@media(max-width: 500px) {
    html {
        font-size: 12px;
    }
    #add-button {
        margin-top: 10px;
        position: unset;
        width: 100%;
        padding: 15px;
        height: auto;
    }
    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}